.app {
    width: 100%;
    height: 100vh;
    background-image: url(https://img.freepik.com/free-photo/sunset-silhouettes-trees-mountains-generative-ai_169016-29372.jpg?size=626&ext=jpg&ga=GA1.1.44546679.1716422400&semt=ais_user);
    background-repeat: no-repeat;
    background-size: 100%;
}